//container

.container {
  max-width: $max-width;
  margin: auto;
  padding: 0 2rem;
}

//text

.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead-title {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.lead-form {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.info-text {
  font-size: 1.2rem;
  line-height: 2rem;
}

//bg

.bg {
  &-primary {
    @include set-background($primary-color);
  }

  &-strong {
    @include set-background($strong-color);
  }

  &-light {
    @include set-background($light-color);
  }

  &-danger {
    @include set-background($danger-color);
  }

  &-success {
    @include set-background($success-color);
  }
}

//buttons

.btn {
  display: inline-block;
  background-color: $light-color;
  color: $strong-color;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  transition: all 0.1s ease-in;

  padding: 0.5rem 1.2rem;
  font-size: 1rem;

  &.btn-primary {
    @include set-background($primary-color);
    &:hover {
      background: lighten($primary-color, 5%);
    }
  }
  &.btn-dark {
    @include set-background($strong-color);
    &:hover {
      background: lighten($strong-color, 5%);
    }
  }
  &.btn-success {
    @include set-background($success-color);
    &:hover {
      background: lighten($success-color, 5%);
    }
  }
  &.btn-danger {
    @include set-background($danger-color);
    &:hover {
      background: lighten($danger-color, 5%);
    }
  }
  &:hover {
    background-color: darken($light-color, 5%);
    color: $strong-color;
  }
}

//tasks

.task {
  color: $strong-color;

  &-open {
    background-color: $light-color;
  }

  &-progress {
    background-color: #fcf99f;
  }

  &-done {
    background-color: #bbf2fc;
  }

  &-expired {
    background-color: #ff9191;
  }
}
