.table {
  table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }

  tr {
    &:hover {
      background: $light-color;
    }

    td {
      color: #555;
    }
  }

  th,
  td {
    padding: 0.5rem;
  }

  th {
    font-size: 1.2rem;
    border-right: 1px solid $light-color;
    background-color: $primary-color;
    color: $light-color;
  }

  td {
    text-align: center;
  }

  td:last-child,
  th:last-child {
    border-right: none;
  }

  .table-primary {
    width: 30%;
  }

  .expired {
    color: #fa4646;
  }
}
